.hero-bg {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  /* Background image + base color */
  background:
    url('/hero-bg.png') center/cover no-repeat,
    #01257D;
  /* fallback color */

  position: relative;
  overflow: hidden;
}

.hero-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}

.hero-section, .hero-text-section {
  background-color: transparent !important;
}

.hero-text-section {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-height: 120px;
}