.typing-advanced {
  font-size: 2.8rem;
  font-weight: 700;
  background: linear-gradient(180deg, #00FFFF, #01257D);
  background-clip: text;
  color: transparent;
  white-space: nowrap;
}

.cursor {
  display: inline-block;
  margin-left: 2px;
  width: 2px;
  background-color: #00FFFF;
  animation: blinkCursor 0.7s infinite;
}

@keyframes blinkCursor {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}