.animated-border-box {
    width: 100%;
    position: relative;
  }
  
  .animated-border-box::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    border-radius: 6px; /* same as box */
    padding: 5px; /* border thickness */
    background: linear-gradient(90deg, #01257D, #00FFFF, #01257D);
    background-size: 300% 100%;
    animation: borderMove 6s linear infinite;
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
  
  @keyframes borderMove {
    0%   { background-position: 0% 0%; }
    100% { background-position: 300% 0%; }
  }