*{
  margin: 0;
  padding: 0;
  background-color: #1A1A1A;
}

.blended-text {
  background: linear-gradient(
    to bottom,
    #01257D 0%,       /* Palet1 from top */
    #0461C4 45%,      /* mid blend tone */
    #00FFFF 100%      /* Palet2 from bottom */
  );
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15); /* soft depth */
}